{% extends 'base.html' %}

{% block title %}Book Appointment{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Book an Appointment</h4>
            </div>

            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Appointment Date</label>
                        {{ form.date}}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Appointment Time</label>
                        {{ form.time}}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Reason</label>
                        {{ form.reason}}
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">
                            Book Appointment
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}
