{% extends 'base.html' %}

{% block content %}
<h3>Doctor Panel</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for appt in appointments %}
        <tr>
            <td>{{ appt.patient }}</td>
            <td>{{ appt.date }}</td>
            <td>{{ appt.time }}</td>
            <td>{{ appt.status }}</td>
            <td>
                <a href="{% url 'update_status' appt.id %}" class="btn btn-sm btn-primary">
                    Update
                </a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No appointments</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}