{% extends 'base.html' %}

{% block content %}
<h4>Update Appointment Status</h4>


<p>Patient: {{ appointment.patient }}</p>
<p>Date: {{ appointment.date }}</p>
<p>Current Status: {{ appointment.status }}</p>

<form method="POST">
    {% csrf_token %}

    <label>Status:</label>
    <select name="status">
        <option value="Pending">Pending</option>
        <option value="Confirmed">Confirmed</option>
        <option value="Cancelled">Cancelled</option>
        <option value="Completed">Completed</option>
    </select>

    <button type="submit">Update</button>
</form>
{% endblock %}