{% extends 'base.html' %}

{% block title %}Dashboard | Eye Clinic{% endblock %}

{% block content %}
<h3 class="mb-4">Welcome, {{ user.first_name|default:user.username}} 👋</h3>


<div class="row g-4">

  <div class="col-md-4">
    <div class="card shadow border-0">
      <div class="card-body text-center">
        <h5>Total Appointments</h5>
        <h2 class="text-primary">{{ total_appointments }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow border-0">
      <div class="card-body text-center">
        <h5>Upcoming Appointments</h5>
        <h2 class="text-success">{{ upcoming_appointments }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow border-0">
      <div class="card-body text-center">
        <h5>Completed</h5>
        <h2 class="text-warning">{{ completed_appointments }}</h2>
      </div>
    </div>
  </div>

</div>

<div class="mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Your Appointments</h4>
        <a href="{% url 'book_appointment' %}" class="btn btn-primary">➕ Book Appointment</a>
    </div>

    <table class="table table-hover shadow bg-white">
        <thead class="table-primary">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            {% for appt in appointments %}
            <tr>
                <td>{{ appt.date }}</td>
                <td>{{ appt.time }}</td>
                <td>
                    <span class="badge
                    {% if appt.status == 'Pending' %}bg-warning
                    {% elif appt.status == 'Confirmed' %}bg-primary
                    {% elif appt.status == 'Completed' %}bg-success
                    {% else %}bg-danger{% endif %}">
                    {{ appt.status }}
                </span>
                </td>
                <td>{{ appt.reason }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No appointments yet.</td>
            </tr>
            {% endfor %}   
        </tbody>
    </table>
</div>
{% endblock %}


