{% extends 'base.html' %}
{% load forms_tags %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow-lg">
            <div class="card-header bg-success text-white text-center">
                <h4>Patient Registration</h4>
            </div>

            <div class="card-body">

                <form method="post">
                    {% csrf_token %}

                    {{ form.non_field_errors }}

                    {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field|add_class:"form-control" }}
                        <div class="text-danger">{{ field.errors }}</div>
                    </div>
                {% endfor %}
                    
                    <button class="btn btn-primary w-100">Register</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}