{% extends "base.html" %}
{% block title %}Blog{% endblock %}

{% block content %}
<h2>Eye Health Blog</h2>

<div class="row">
    {% for post in posts %}
      <div class="col-md-4 mb-4">
        <div class="card shadow">
            {% if post.image %}
              <img src="{{ post.image.url}}" class="card-img-top img-fluid" alt="{{ post.title}}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|truncatechars:120 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More</a> 
            </div>
        </div>
      </div>
    {% empty %}
       <p>No blog posts yet.</p>
    {% endfor %} 
</div>
{% endblock %}

